* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #202124;
  color: rgb(187, 179, 179);
}

.card {
  border: 1px solid rgb(74, 74, 74);
  padding: 30px 40px;
  border-radius: 5px;
  margin: 20px 25px;
  background: #202124;
}

.card .card-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card .card-body {
  padding-top: 10px;
}

.card .card-body .evaluations i {
  color: orangered;
  font-size: 12px;
}

.card .card-body h3 {
  margin-top: 3px;
  font-weight: lighter;
  font-size: 18px;
}

.card .card-body ul {
  margin-top: 20px;
  position: relative;
  left: 19px;
  font-size: 14px;
}

.card .card-body label {
  margin-top: 5px;
  font-size: 14px;
  color: rgb(150, 143, 143);
}

.card .card-body .price {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.card .card-body .price label {
  color: rgb(255, 170, 170);
  font-size: 19px;
  position: relative;
  bottom: 3px;
}

.card .card-body .price button {
  background: rgb(255, 104, 104);
  border: none;
  outline: none;
  padding: 8px 13px;
  cursor: pointer;
  border-radius: 2px;
  color: rgb(234, 225, 225);
  margin-right: 5px;
  transition: all .3s;
}

.card .card-body .price button:hover {
  background: rgb(255, 84, 84);
}